body {
	background-image: url("../images/skyscraper.png");
	box-sizing: border-box;
}

header {
    background-color: #ffffff;
    padding: 40px;
    /* border-style: double; */
    /* border-width: medium; */
    border-bottom-style: solid;
    border-width: 2px;
    border-color: #cccccc;
    width: 100%;
}

h1 {
    background-color: #4aaaa5;
    font-size: 30px;
    font-family: 'Georgia', Times, Times New Roman, serif;
    color: #ffffff;
    /* width: 20%; */
    /* height: 20%; */
    margin-left: 150px;
    padding: 25px;
    position: absolute;
    top: -23px;
}

h2 {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    float: right;
    /* top: -500px; */
    /* padding: 100%; */
    color: #777777;
    font-size: 18px;
    margin: -10px;
	margin-right: 200px;
}

.container {
    /* text-align: center; */
    margin: 30px 20px;
    /* position: relative; */
    width: 100%;
    height: auto;
    /* padding: 20px; */
    /* background-color: pink; */
}

#box {
    float: left;
    font-size: 30px;
    font-family: 'Georgia', Times, Times New Roman, serif;
    color: #4aaaa5;
    padding: 33px;
    width: 44%;
    margin-right: 10px;
    margin-left: 80px;
    background-color: #ffffff;
    /* text-align: center; */
    height: 400px;
    position: relative;
    border-style: solid;
    border-width: 2px;
    border-color: #dddddd;
    overflow: scroll;
}


img {
	max-width: 30%;
    height: auto;
    float: left;
    margin-right: 10px;
}

.icons {
	width: 95%;
	height: auto;
	float: left;
}



#about {
	position: relative;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 16px;
	color: #777777;
	line-height: 1.5;
}

#connect {
	font-size: 22px;
    float: left;
    font-family: 'Georgia', Times, Times New Roman, serif;
    height: 250px;
    width: 35%;
    margin-left: 1%;
    padding: 30px;
    color: #4aaaa5;
    background-color: #ffffff;
    /* text-align: center; */
    position: relative;
    border-style: solid;
    border-width: 2px;
    border-color: #dddddd;
}

.icons {
	max-width: 95%;
    height: auto;
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
}

.clear {
    clear: both;
}

.footer {
    position: absolute;
  	right: 0;
  	/*bottom: 0;*/
  	left: 0;
    padding: 40px;
    font-size: 12px;
    text-align: center;
    background-color: #666666;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    width: 100%;
    border-top-style: solid;
    border-width: 10px;
    border-color: #4aaaa5;
    color: #cccccc;
}